src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">
	<flow name="shopping-bazar-bestbuy-main" doc:id="dc79ef21-c6d2-449a-ac9a-9aa93956c200" >
		<http:listener doc:name="Listener" doc:id="5e759f26-079e-4a8d-8fd4-7a620f38ecfb" config-ref="shopping-bazar-bestbuy-httpListenerConfig" path="/api/*" allowedMethods="GET,POST,DELETE,PUT">
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router doc:name="APIkit Router" doc:id="8d978c34-1d0d-46a2-9c05-47a2151cbed6" config-ref="shopping-bazar-bestbuy-config" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="9b7b2859-1446-4e06-ab5d-09a7325f0ea6" type="APIKIT:BAD_REQUEST" >
				<ee:transform doc:name="Transform Message" doc:id="d48041ea-5d34-4f87-a59d-8fe85496d541" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="668435fc-d755-4fe8-827c-15e69e8e2730" type="APIKIT:NOT_FOUND" >
				<ee:transform doc:name="Transform Message" doc:id="35daf409-ae48-4a2d-b8f6-11ec9b30db4a" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="9cb9147f-dace-4e55-937b-b4254584482c" type="APIKIT:METHOD_NOT_ALLOWED" >
				<ee:transform doc:name="Transform Message" doc:id="52a772b5-5bdf-428e-8d5b-2056fd3c2548" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[405]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ce56cce7-42a2-4de1-9ac5-676088478180" type="APIKIT:NOT_ACCEPTABLE" >
				<ee:transform doc:name="Transform Message" doc:id="1e911c74-e5fa-424a-bc47-cca82371f135" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[406]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b16df5f4-dd4e-4628-b13f-532e58b10e35" type="APIKIT:UNSUPPORTED_MEDIA_TYPE" >
				<ee:transform doc:name="Transform Message" doc:id="ebd149e8-0e57-49e8-b9b0-c8ad5e5347dd" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[415]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="d1857562-8950-403f-9265-bb4ed84d3266" type="APIKIT:NOT_IMPLEMENTED" >
				<ee:transform doc:name="Transform Message" doc:id="4013bd24-3799-428e-81bd-cac73c86930e" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[501]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="shopping-bazar-bestbuy-console" doc:id="de1c1c07-25fb-46be-884a-1be27897c633" >
		<http:listener doc:name="Listener" doc:id="6e7a510d-97ec-44ad-8b76-e9a52135c1b1" config-ref="shopping-bazar-bestbuy-httpListenerConfig" path="/console/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console doc:name="APIkit Console" doc:id="778aa06c-9f03-4714-bc06-d190c34117ec" config-ref="shopping-bazar-bestbuy-config" />
		<error-handler >
			<on-error-propagate doc:name="On Error Propagate" doc:id="c31ad51b-241b-47df-bd07-3984c96add5f" type="APIKIT:NOT_FOUND" enableNotifications="true" logException="true">
				<ee:transform doc:name="Transform Message" doc:id="47e1a01b-febb-4b2c-939c-072e752ffa5d" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
